*{
    padding: 0;
    margin: 0;
    font-family:cursive;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

    hr{
        margin: 100px;
    }
/* header */
header{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
   z-index: 100;
    box-shadow: 1px 1px 5px black;    
    
}

.logo{
    height: 50px;
   width: 80px; 
   border-radius: 50px;
   

}
.logo:hover{
    transform: rotate(-15deg);
}
 

nav ul{
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: lightgrey;


}
nav a:hover{
color: white;
border-bottom: 4px solid darkslategray;
}

/* main content */


main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    
}


#content{
 width: 90%;
 
    }
#home{
    padding: 1em;
    text-align: justify;
}



#home .intro .intro-title{
    padding-top: 10px;
    font-weight: bold;
}


section{
    padding: 1em;
}
p{
    text-align: justify;
    font-size: 1rem;
}
.sandt{
    margin-left: 1em;
}

.projectsinfo{
    margin-left: 1em;
}


/* footer */
footer {
   color: white;
   background-color:cadetblue;
}

footer p{
    padding: 0.5em;
    text-align: center;
}
.bi-heart-fill{
    color: red;
}
.email{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.libutton{
    text-decoration: none;
    font-weight: bold;
    color: red;

}

.gitbtn{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
.companylink{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
em{
    font-weight: bold;
}

.btn{
    
    margin:  1% 0;
    padding: 1%;
}